<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="main/public :: #public_head">
</head>
<body>
<!--头部-->
<header class="publicHeader" th:replace="main/public :: #public_header">
</header>
<!--时间-->
<section class="publicTime" th:replace="main/public :: #public_time">
</section>
<!--主体内容-->
<section class="publicMain">
    <div class="left" th:replace="main/public :: #public_left(activeUri='feedback')">
    </div>
    <div class="right">
        <div class="location">
            <strong>你现在所在的位置是:</strong>
            <span>问题反馈页面</span>
        </div>
        <div class="providerAdd">
            <form id="addForm" th:action="@{/feedback}" th:method="post" action="#">
                <!--div的class 为error是验证错误，ok是验证成功-->
                <!--<span>注意：带*为必填项。</span>-->

                <div>
                    <label for="question"></label>
                    <!-- 文本域 -->
                    <textarea class="feedbackAdd" rows="10" cols="50" maxlength="120" id="question" name="question"
                              placeholder="请在此输入您遇到的问题（限输入120个字以内）..." autofocus required
                              onkeydown="if(event.keyCode==32 || event.keyCode==13){return false;}"></textarea>

                </div>
                <div class="providerAddBtn">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input class="addBooking" type="submit" value="提交"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="button" value="取消" onclick="history.back(-1)"/>
                    <!--<a th:href="@{/main.html}">取消</a>-->
                </div>
            </form>
        </div>

    </div>
</section>

<footer class="footer" th:replace="main/public :: #public_footer">
</footer>

<script src="js/time.js"></script>
</body>
</html>